  $font-stack: Helvetica, sans-serif;
  $text-color: white;
  $background-second-color: #494b5a;
  $background-main-color: #30323D;
  $accent-color: #ff6700;

  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    //margin: auto;
    padding: 2rem;
    background-color: $background-main-color;
  }

  input {
    height: 30%;
    margin-left: 10px;
  }

  h1 {
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  p {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: $text-color;
  }

  .files {
    margin-top: 10px;
    padding: 10px 10px 10px 10px;
  }

  canvas {
    //display: block;
    margin-bottom: 5px;
  }

  .editor-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1em;
    margin-left: 5px;

    .input-container {
      display: flex;
      flex-direction: row;
    }
  }

  topbar {
    display: flex;
    flex-direction: row;
    max-height: 30%;

    .left-column {
      flex: 3;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .first-row {
        display: flex;
        flex: 3;

        .audio-player {
          flex: 2;
          display: flex;
          flex-direction: column;
          background-color: $background-second-color;
          //position: relative;
          margin: 5px;

          .slider-top {
            display: flex;
            width: 80%;
            justify-content: space-between;
            margin-left: 10px;
         
            button {
              margin-top: 8px;
              margin-bottom: 8px;
              max-height: 50%;
            }
          }

          .file-name {
            margin-left: 10px;
          }

          .slider-container {
            //position: absolute;
            bottom: 10px;
            width: 80%;
          }

          .buttons-container {

          }
          
          p {
            margin-top: 5px;
            font-size: 20px;
          }
        }

        .visualizer {
          flex: 1;
          margin: 5px;
          background-color: $background-second-color;
        }
      }

      .settings-container {
        flex: 1;
        display: flex;
        flex-direction: row;
        margin: 5px;
        background-color: #494b5a;      
      }
    }
    
    .right-column {
      display: flex;
      flex-direction: row;
      flex: 1;
      background-color: $background-second-color;
      margin: 5px;

      .drop-zone {
        flex: 2;
      }

      .imports {
        flex: 1 10px;
        display: flex;
        flex-direction: column;

        button {
        }
      }
    }
  }
  
  .canvas-holder {
    margin-top: 1rem;
    max-height: calc(40vh);
    //overflow: scroll;
  }

  .input-block {
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    p {
      font-size: 15px;
    }

    input {
      max-width: 30px;
    }
  }


  #drop-zone {
    border: 5px solid;
    width:  100px;
    height: 100px;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 12px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 25px;
      height: 25px;
      border-radius: 50%; 
      background: $accent-color;
      cursor: pointer;
    }

    &::-moz-range-thumb {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: $accent-color;
      cursor: pointer;
    }
  }