body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}

canvas {
  width: auto;
  height: auto;
}

.btn {
  background-color: chartreuse;
}

#drop_zone {
  border: 5px solid blue;
  width:  200px;
  height: 100px;
}

.files {
  padding-left: 10%;
  padding-top: 20%;
}

.canvas_holder {
  max-height: 256px;
  max-width: 256px;
  overflow: scroll;
}