  $font-stack: Helvetica, sans-serif;
  $text-color: white;
  $background-second-color: #494b5a;
  $background-main-color: #30323D;
  $accent-color: #ff6700;

  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    //margin: auto;
    padding: 2rem;
    padding-top: 1rem;
    background-color: $background-main-color;
  }

  .holder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  input {
    height: 30%;
    margin-left: 10px;
  }

  h1 {
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  p {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: $text-color;
  }

  .files {
    margin-top: 10px;
    padding: 10px 10px 10px 10px;
  }

  canvas {
    //display: block;
    margin-bottom: 5px;
  }

  .editor-container {
    margin-left: 5px;
    margin-right: 5px;
    max-height: 70%;
  }

  topbar {
    display: flex;
    flex-direction: row;
    max-height: 30%;

    .left-column {
      flex: 3;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .first-row {
        display: flex;
        flex: 3;

        .audio-player {
          flex: 2;
          display: flex;
          flex-direction: row;
          background-color: $background-second-color;
          margin: 5px;

          .col-1 {
            flex: 4;
            display: flex;
            flex-direction: column;

            .slider-top {
              display: flex;
              //width: 100%;
              justify-content: space-between;
              margin-left: 10px;
           
              button {
                margin-top: 8px;
                margin-bottom: 8px;
                max-height: 50%;
              }
            }
  
            .file-name {
              margin-left: 10px;
            }
  
            .slider-container {
              bottom: 10px;
              //width: 100%;
              margin: 0px;
              margin-left: 10px;
              margin-bottom: 10px;

              .slider {
                margin: 0px;
              }
            }
  
            .buttons-container {
  
            }
            
            p {
              margin-top: 5px;
              font-size: 20px;
            }
          }

          .col-2 {
            flex: 1;
          }
        }

        .visualizer {
          flex: 1;
          margin: 5px;
          background-color: $background-second-color;
        }
      }

      .settings-container {
        flex: 1;
        display: flex;
        flex-shrink: 1;
        flex-direction: row;
        justify-content: space-between;
        margin: 5px;
        background-color: $background-second-color;     
        
        .inputs-block-container {
          display: flex;
          flex-direction: row;
          flex: 1;

          .input-block {
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: start;
  
            p{
              text-align: center;
              user-select: none;
            }
  
            input {
              margin-left: auto;
              margin-right: auto;
            }
          }
        }

        .sliders {
           flex: 1;
           display: flex;
           flex-direction: column;
           justify-content: space-between;
           flex-wrap: wrap;
        }

        .checkbox-holder {
          flex: 1;
          display: flex;
          flex-wrap: wrap;
        }

        label {
          user-select: none;
        }
      }
    }

    .right-column {
      display: flex;
      flex-direction: row;
      flex: 1;
      background-color: $background-second-color;
      margin: 5px;

      .drop-zone {
        flex: 2;
      }

      .imports {
        flex: 1 10px;
        display: flex;
        flex-direction: column;

        button {
        }
      }
    }
  }

  label {
    margin: 5px;
    color: $text-color;
  
    input {
      visibility: hidden;
      display: block;
      height: 0;
      width: 0;
      position: absolute;
      overflow: hidden;
    }

    span {
      height: 10px;
      width: 10px;
      border: 1px solid grey;
      display: inline-block;
    }
  }

  [type=checkbox]:checked + span {
    background: $accent-color;
  }
  
  
  .canvas-holder {
    margin-top: 1rem;
    max-height: calc(40vh);
    //overflow: scroll;
  }

  .input-block {
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    p {
      font-size: 15px;
    }

    input {
      max-width: 30px;
    }
  }

  .imports {
    display: flex;
    justify-content: space-around;

    button {
      margin: 5px;
      color: $text-color;
      border: none;
      text-align: center;
      text-decoration: none;
      background-color: $accent-color;
    }
  }

  #drop-zone {
    border: 5px solid;
    width:  100px;
    height: 100px;
  }

  .slider-container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }

  .slider-vertical {
    top: 40%;
    transform: rotate(270deg);
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 7px;
    margin: 0px;
    border-radius: 5px;  
    background: #f0f0f0;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 10px;
      height: 15px;
      border-radius: 20%; 
      background: $accent-color;
      cursor: pointer;
    }

    &::-moz-range-thumb {
      width: 10px;
      height: 15px;
      border-radius: 20%;
      background: $accent-color;
      cursor: pointer;
    }
  }

  .play-button {
    border: 0;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 1px;
  
    border-color: transparent transparent transparent $accent-color;
    transition: 100ms all ease;
    cursor: pointer;
  
    border-style: solid;
    border-width: 10px 0 10px 20px;
  
    &.paused {
      border-style: double;
      border-width: 0px 0 0px 60px;
    }
  
    &:hover {
      border-color: transparent transparent transparent #ffffff;
    }
  }

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}