  $font-stack: Helvetica, sans-serif;
  $text-color: white;
  $accent-color: #966;

  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    //margin: auto;
    padding: 2rem;
  }

  input {
    height: 30%;
    margin-left: 10px;
  }

  h1 {
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  p {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .files {
    margin-top: 10px;
    padding: 10px 10px 10px 10px;
  }

  .editor-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2rem;

    .input-container {
      display: flex;
      flex-direction: row;
    }
  }

  topbar {
    display: flex;
    flex-direction: row;
    max-height: 30%;

    .left-column {
      flex: 3;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: magenta;

      .first-row {
        display: flex;
        flex: 3;
        background-color: mediumaquamarine;

        .audio-player {
          flex: 2;
        }

        .visualizer {
          flex: 1;
        }
      }

      .settings-container {
        flex: 1;
        display: flex;
        flex-direction: row;
        background-color: mediumpurple;      
      }
    }
    
    .right-column {
      display: flex;
      flex-direction: row;
      flex: 1;
      background-color: maroon;

      .drop-zone {
        flex: 1;
      }

      .imports {
        flex: 1;
        display: flex;
        flex-direction: column;
      }
    }
  }
  
  .canvas-holder {
    margin-top: 1rem;
    max-height: calc(40vh);
    //overflow: scroll;
  }

  .input-block {
    padding-left: 2rem;
  }
  
  #editor-canvas {


  }
    
  #drop-zone {
    border: 5px solid;
    width:  100px;
    height: 100px;
  }

  .slider-container {
    width: 100%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 25px;
      height: 25px;
      border-radius: 50%; 
      background: #4CAF50;
      cursor: pointer;
    }

    &::-moz-range-thumb {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: #4CAF50;
      cursor: pointer;
    }
  }