  $font-stack: Helvetica, sans-serif;
  $text-color: white;
  $accent-color: #966;

  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    //margin: auto;
    padding: 2rem;
  }

  input {
    height: 30%;
    margin-left: 10px;
  }

  h1 {
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  p {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .files {
    margin-top: 10px;
    padding: 10px 10px 10px 10px;
  }

  .editor_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2rem;

    .input_container {
      display: flex;
      flex-direction: row;
    }
  }

  .topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 30%;
  }

  .rowflex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .colflex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .canvas_holder {
    margin-top: 1rem;
    max-height: calc(40vh);
    //overflow: scroll;
  }

  .input_block {
    padding-left: 2rem;
  }

  #audio_player {

  }

  #title {
   
  }

  #imports {
  
  }

  #editor_canvas {


  }
    
  #drop_zone {
    border: 5px solid;
    width:  100px;
    height: 100px;
  }