  $font-stack: Helvetica, sans-serif;
  $text-color: white;
  $background-second-color: #494b5a;
  $background-main-color: #30323D;
  $accent-color: #ff6700;
  $accent-color-medium: #ee5f00;
  $accent-color-dark: #d15400;
  $accent-color-second: #0affce;
  $block-border-radius: 7px;

  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    //margin: auto;
    padding: 10px;
    padding-top: 6px;
    background-color: $background-main-color;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-around;
  }

  // topbar { 
  //   flex:1;
  // }

  .holder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  input {
    height: 30%;
    margin-left: 10px;
  }

  h1 {
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  p {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: $text-color;
    user-select: none;
  }

  .files {
    margin-top: 10px;
    padding: 10px 10px 10px 10px;
  }

  button {
    margin: 5px;
    color: $text-color;
    border: none;
    text-align: center;
    text-decoration: none;
    background-color: $accent-color;
    border-radius: $block-border-radius;

    &:hover {
      background-color: $accent-color-medium;
    }

    &:active{
      background-color: $accent-color-dark;
   }
  }

  canvas {
    //display: block;
    margin-bottom: 5px;
  }

  $diamond-width: 60%;
  $selected-button: #7a87bd;
  $hovered-button: #6a749e;
  $default-button: #35384a;

  .editor-container {
    margin: 0px;
    margin-top: 10px;
    max-height: 70%;

    canvas {
      border-radius: $block-border-radius;
    }
  }

  .prefab-button {
    background-color: $default-button;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: stretch;
    align-self: stretch;
    margin: 2px;
    width: 40px;
    height: 40px;
    border-radius: $block-border-radius;

    &:hover{
      background-color: $hovered-button;
    }
  }

  .selected {
    background-color: $selected-button !important;
  }

  .diamond-shape {
    background-color: #fff;
    height: $diamond-width;
    transform:rotate(45deg);
    transform-origin: center;
    width:  $diamond-width;
  }

  topbar {
    display: flex;
    flex-direction: row;
    //max-height: 20%;

    .left-column {
      flex: 3;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;

      .first-row {
        display: flex;
        flex: 1;
        gap: 10px;

        .audio-player {
          flex: 4;
          display: flex;
          flex-direction: row;
          background-color: $background-second-color;
          border-radius: $block-border-radius;

          .col-1 {
            flex: 6;
            display: flex;
            flex-direction: column;

            .slider-top {
              display: flex;
              //width: 100%;
              justify-content: space-between;
              margin-left: 10px;
           
              #play-button {
                margin-top: 8px;
                margin-bottom: 8px;
                max-height: 50%;
                border-radius: 0px;

                &:hover {
                  background-color: transparent;
                }
            
                &:active{
                  background-color: transparent;
                }
              }
            }
  
            .file-name {
              margin-left: 10px;
            }
  
            .slider-container {
              bottom: 10px;
              //width: 100%;
              margin: 0px;
              margin-left: 10px;
              margin-bottom: 10px;

              .slider {
                margin: 0px;
              }
            }
            
            p {
              margin-top: 5px;
              font-size: 20px;
            }
          }

          .col-2 {
            flex: 1;
          }
        }

        #prefabs-container {
          display: flex;
          //column-gap: 5px;
          //row-gap: 5px;
          border-radius: $block-border-radius;
          justify-items: center;
          flex: 2;
          background-color: $background-second-color;
          flex-wrap: wrap;

          div {
            margin: 5px;
          }
        }
    
        .imports {
          display: flex;
          flex-direction: row;
          flex: 2;
          background-color: $background-second-color;
          border-radius: $block-border-radius;
    
          .drop-zone {
            flex: 1;
            height: 100%;
          }
    
          .imports {
            flex: 1 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            button {
              flex: 1;
            }
          }
        }
      }

      .second-row {
        display: flex;
        flex: 1;
        gap: 10px;

        .settings-container {
          flex: 6;
          display: flex;
          //flex-shrink: 1;
          flex-direction: row;
          justify-content: space-between;
          background-color: $background-second-color;     
          border-radius: $block-border-radius;
  
          .inputs-block-container {
            display: flex;
            flex-direction: row;
            flex: 1;
  
            .input-block {
              display: flex;
              flex: 1;
              flex-direction: column;
              justify-content: start;
    
              p{
                text-align: center;
                user-select: none;
              }
    
              input {
                margin-left: auto;
                margin-right: auto;
                border-radius: $block-border-radius;
              }
            }
          }
  
          .buttons-container {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            //flex-grow: 0;
  
            button {
              margin-right: 10px;
              min-height: 40px;
              max-height: 30%;
              //max-width: 80%;
              flex: 1
            }
          }
  
          .checkbox-holder {
            flex: 1;
            display: flex;
            flex-wrap: wrap;
          }
  
          label {
            user-select: none;
          }
        }
      }
    }
  }

  .sliders {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .visualiser {
    flex: 2;
    max-width: 300px;
    background-color: $background-second-color;
    border-radius: $block-border-radius;
    display: flex;
    flex-direction:column-reverse;

    canvas {
      margin:0;
      border-radius: $block-border-radius;
    }
  }

  label {
    margin: 5px;
    color: $text-color;
  
    input {
      visibility: hidden;
      display: block;
      height: 0;
      width: 0;
      position: absolute;
      overflow: hidden;
    }

    span {
      height: 10px;
      width: 10px;
      border: 1px solid grey;
      display: inline-block;
      border-radius: 3px;
    }
  }

  [type=checkbox]:checked + span {
    background: $accent-color;
  }
  
  .canvas-holder {
    margin-top: 1rem;
    max-height: calc(40vh);
    //overflow: scroll;
  }

  .input-block {
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    p {
      font-size: 15px;
    }

    input {
      max-width: 30px;
    }
  }

  .imports {
    display: flex;
    justify-content: space-around;
  }

  #drop-zone {
    border: 5px dashed $hovered-button;
    width:  100px;
    height: 100px;
    padding: 0;

    button {
      width: 100%;
      height: 100%;
      margin: 0;
      background-color: $default-button;
    }
  }

  .slider-container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }

  .col-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .slider-vertical-container {
      width: 10vh;
      transform-origin: center;
      transform:rotate(270deg);
    }
  }

  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 7px;
    margin: 0px;
    border-radius: 5px;  
    background: #f0f0f0;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
  
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 15px;
      height: 15px;
      border-radius: 80%;
      background: $accent-color;
      cursor: pointer;
    }

    &::-moz-range-thumb {
      width: 10px;
      height: 15px;
      border-radius: 20%;
      background: $accent-color;
      cursor: pointer;
    }
  }

  .play-button {
    border: 0;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 20px;
  
    border-color: transparent transparent transparent $accent-color;
    transition: 100ms all ease;
    cursor: pointer;
  
    border-style: solid;
    border-width: 9px 0 9px 20px;
  
    &.paused {
      border-style: double;
      border-width: 0px 0 0px 20px;
    }
  
    &:hover {
      border-color: transparent transparent transparent #ffffff;
    }
  }

  input[type="text"] {
    border: none;
    background-color : $background-main-color;
    text-align: center;
    color: $text-color;
  }

  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
    outline: none;
}

* {
  user-select: none;
  outline: none;
}